@using JobReady.Data.DTO;
@model IEnumerable<JobPostDetails> ;

@foreach(JobPostDetails item in Model){
<a role="button" class="jobApp" asp-controller="JobApplication" asp-action="Index" asp-route-jobId="@item.Id">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-start w-100 jobOpp gap-3">
            <img src="@Url.Action("GetProfilePicture","Profile", new {userId = item.CreatedById})" class="rounded-8 imageJobOpp" />
        <div class="d-flex flex-column">
            <div>
                <h5 class="color-light-blue h5">@item.Title</h5>
                <h6 class="fw-normal">@item.CreatedBy.Username</h6>
            </div>
            <div>
                <p class="location">Lebanon (<span>Remote</span>)</p>
                <p class="timeOn fw-bold">@item.CreatedOn</p>
            </div>
        </div>
    </div>
</a>
<hr class="color-light-blue"/>
}