@model IEnumerable<JobApplicationDetails>

@if(Model.All(t=> t.IsCompany))
{
<table class="table table-hover">
    <thead class="light-blue-thead">
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Job Title</th>
            <th scope="col">Applied On</th>
        </tr>
    </thead>
    <tbody class="table-group-divider table-light">
        @foreach (var jobApp in Model)
        {
            <tr>
                <th scope="row">@jobApp.Applicant.FullName</th>
                <td>@jobApp.JobPost.Title</td>
                <td>@jobApp.AppliedOn.ToString("ddd dd MMMM yyyy")</td>
            </tr>
        }
    </tbody>
</table>
}
else{
    <table class="table table-hover">
        <thead class="light-blue-thead">
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Job Title</th>
                <th scope="col">Applied On</th>
            </tr>
        </thead>
        <tbody class="table-group-divider table-light">
            @foreach (var jobApp in Model)
            {
                <tr>
                    <th scope="row">@jobApp.JobPost.CreatedBy.FullName</th>
                    <td>@jobApp.JobPost.Title</td>
                    <td>@jobApp.AppliedOn.ToString("ddd dd MMMM yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}