@model IEnumerable<RecommendationDetails>;

    @if(Model.All(t=>t.IsStudent)){
    <table class="table table-hover ">
        <thead class="light-blue-thead">
            <tr>
                <th scope="col" width="40%">Sent On</th>
                <th scope="col">Instructor</th>
                <th scope="col">Status</th>
                <th scope="col">Replied On</th>
            </tr>
        </thead>
        <tbody class="table-group-divider table-light">
            @foreach(var recommendation in Model){
            <tr>
                <th scope="row">@recommendation.RequestDate?.ToString("ddd dd MMMM yyyy")</th>
                <td>@recommendation.Instructor.FullName</td>
                    <td>@recommendation.Status</td>
                    <td>@recommendation.ResponseDate?.ToString("ddd dd MMMM yyyy")</td>
            </tr>
            }
        </tbody>
    </table>
}else{
    <table class="table table-hover">
        <thead class="light-blue-thead">
            <tr>
                <th scope="col" width="40%">Requested On</th>
                <th scope="col">Requested By</th>
                <th scope="col">Response</th>
            </tr>
        </thead>
        <tbody class="table-group-divider  table-light">
            @foreach (var recommendation in Model)
            {
                <tr>
                    <th scope="row">@recommendation.RequestDate?.ToString("ddd dd MMMM yyyy")</th>
                    <td>@recommendation.Student.FullName</td>
                    <td>
                        <div class="d-flex flex-row gap-3">
                            <a role="button" asp-controller="Recommendation" asp-action="RejectRecommendation" asp-route-id="@recommendation.Id"
                                class="btn btn-outline-danger  d-flex flex-row align-items-center text-center">&times;</a>
                            <button type="button" class="btn btn-outline-success d-flex flex-row align-items-center justify-content-center" 
                            data-bs-toggle="modal" data-bs-target="#replyModal-@recommendation.Id">
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.82996L3.83 6.65996L9.5 1" stroke="#8FFD39" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_RecommendationLetter" model="@Model.FirstOrDefault()?.Reply" />
}