@using JobReady.Data.DTO;
@model JobPostDetails;
@{
    ViewData["Title"] = "Job Application";
}

<link rel="stylesheet" href="~/css/jobApplication.css"/>

<div class="d-flex flex-column gap-4 h-100 dark-main-bg px-5 py-4">
    <div class="d-flex flex-row align-items-center justify-content-between gap-2">
        <div class="d-flex flex-row align-items-center gap-2">  
            <a role="button" href="javascript:window.location.href = document.referrer">
                <img src="~/icons/arrow-circle-left.svg" class="back-arrow" />
            </a>
            <p class="color-light-blue fs-4 fw-bold">@Model.Title</p>
        </div>
        @if(Model.CreatedBy.AccountType == UserAccountType.Company){
        
        <div class="form-switch d-flex flex-row align-items-center gap-3">
            <p class="color-light-white">Deactivate</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <p class="color-light-white">Activate</p>
        </div>
        }
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center w-100 gap-3">
        <img src="@Url.Action("GetProfilePicture","Profile", new{userId = Model.CreatedById})" class="rounded-circle logo-resizing" />
        <div class="d-flex flex-column gap-3 ">
            <p class="company-name color-light-white fs-5 fw-bold text-lg-start text-center">Company:<br /><span class="name fs-6 fw-normal">@Model.CreatedBy.Username</span></p>
            @if(Model.CreatedBy.AccountType == UserAccountType.Student && !Model.HasApplied){
                <a role="button" class="apply-btn">
                    <div class="d-flex flex-row align-items-center p-1 gap-2" data-bs-toggle="modal" data-bs-target="#applyLetterModal">
                        <svg class="mx-2" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.51002 4.23001L18.07 8.51001C21.91 10.43 21.91 13.57 18.07 15.49L9.51002 19.77C3.75002 22.65 1.40002 20.29 4.28002 14.54L5.15002 12.81C5.37002 12.37 5.37002 11.64 5.15002 11.2L4.28002 9.46001C1.40002 3.71001 3.76002 1.35001 9.51002 4.23001Z" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M5.44 12H10.84" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="color-light-white">Apply</p>
                    </div>
                </a>
            }
            else if (Model.CreatedBy.AccountType == UserAccountType.Company)
            {
                <a role="button" class="apply-btn pe-2" asp-controller="Applicants" asp-action="Index">
                    <div class="d-flex flex-row align-items-center p-1 gap-1">
                        <svg class="mx-2" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.51002 4.23001L18.07 8.51001C21.91 10.43 21.91 13.57 18.07 15.49L9.51002 19.77C3.75002 22.65 1.40002 20.29 4.28002 14.54L5.15002 12.81C5.37002 12.37 5.37002 11.64 5.15002 11.2L4.28002 9.46001C1.40002 3.71001 3.76002 1.35001 9.51002 4.23001Z" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M5.44 12H10.84" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="color-light-white">See Applicants</p>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="d-flex flex-row flex-lg-column w-100 justify-content-around justify-content-lg-start gap-3">
        <div class="country d-flex flex-row align-items-center color-light-white gap-4">
            <p class="fw-bold">Country:</p>
            <p class="fw-light">Lebanon</p>
        </div>
        <div class="remote d-flex flex-row align-items-center color-light-white gap-4">
            <p class="fw-bold">Remote:</p>
            <div class="fw-light d-flex flex-row gap-1">
                @if(Model.IsRemote == true){
                <img src="~/icons/tick-circle-green.svg" width="20px"/>
                    <p>Yes</p>
                }
                else
                {
                    <img src="~/icons/close-circle-red.svg" width="20px" />
                    <p>No</p>
                }
            </div>
        </div>
        <div class="posted d-flex flex-row align-items-center color-light-white gap-4">
            <p class="fw-bold">Posted:</p>
            <p class="fw-bold text-center">@Model.CreatedOn</p>
        </div>
    </div>
    <div class="d-flex flex-column gap-3 mt-2">
       <p class="color-light-white fs-4 fw-bold">Skills</p>
       <div class="d-flex flex-row flex-wrap gap-3 w-100">
           @foreach(SkillDetails skill in Model.Skills){
                <p class="skill" id="skill-@skill.Id">@skill.Name</p>
            }
       </div>
    </div>
    <div class="d-flex flex-column gap-3 mt-2">
        <p class="color-light-white fs-4 fw-bold">Job Overview</p>
        <p class="fs-6 color-light-white fw-light">@Model.Description</p>
    @if (Model.CreatedBy.AccountType == UserAccountType.Company)
    {
        <a role="button" class="btn btn-danger rounded-pill w-100 color-light-white" asp-controller="JobApplication" asp-action="Delete">Delete</a>
    }
    </div>
</div>

<div class="modal fade" id="applyLetterModal" tabindex="-1" aria-labelledby="applyLetterModal" aria-hidden="true">
        <button type="button" class="btn close" data-bs-dismiss="modal">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9.16998 14.83L14.83 9.17004" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M14.83 14.83L9.16998 9.17004" stroke="#F4FAFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title">Letter of Motivation</h1>
            </div>
            <form asp-controller="JobApplication" asp-action="Apply" method="post">
            <div class="modal-body">
                    <textarea asp-for="LetterOfMotivation" class="letter" placeholder="What motivates you to join our team?"></textarea>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
            </div>
            <div class="modal-footer">
                <button type="submit" role="button" class="btn btn-primary rounded-pill">Send Letter</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/jobApplication.js"></script>