 <div class="post d-flex flex-column">
        <div class="d-flex flex-row w-100 gap-3 align-items-start top-post">
        <img src="@Url.Action("GetProfilePicture","Profile", new {userId = "e5ceaab7-aec6-4e67-bd9b-3dc7573a4c49"})" alt="Profile" class="rounded-circle img-post mt-2" />
            <div class="d-flex flex-column w-100 gap-1">
                <div class="d-flex flex-row w-100 gap-2 align-items-center">
                    <p class="name-post color-gray-asset1">Santiago Valdarrama</p>
                    <p class="dot-post color-light-blue">&#8226;</p>
                    <p class="follow-post color-light-blue text-capitalize fw-bold">follow</p>
                </div>
                <p class="color-grayish-blue heading-post fw-lighter">I help companies build Machine Learning • Posts about what I learn along the way.</p>
                <p class="color-grayish-blue time-post">1h</p>
            </div>
        </div>
        <div class="d-flex flex-column w-100 mt-4 p-2 mb-5 color-gray-asset1 middle-post">
            <p>
                Every single course that teaches Machine Learning starts with Linear Regression.<br />
                <br />
                I prefer to do it differently.<br />
                <br />
                If you are a software developer, start with Decision Trees and KNN.
            </p>
        </div>
        <div class="d-flex flex-column w-100 gap-1 px-3 mb-1 footer-post">
            <hr class="fine-line-post color-gray-asset1" />
            <div class="d-flex flex-row w-100 justify-content-between">
                <div class="d-flex flex-row gap-4">
                    <div class="like d-flex flex-row gap-1 align-items-center">
                        <svg class="like-button" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="like-button-path" d="M12.62 20.81C12.28 20.93 11.72 20.93 11.38 20.81C8.48 19.82 2 15.69 2 8.68998C2 5.59998 4.49 3.09998 7.56 3.09998C9.38 3.09998 10.99 3.97998 12 5.33998C13.01 3.97998 14.63 3.09998 16.44 3.09998C19.51 3.09998 22 5.59998 22 8.68998C22 15.69 15.52 19.82 12.62 20.81Z" stroke="#535657" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    <p class="color-grayish-blue d-none d-md-inline">@EngagementType.Like.ToString()</p>
                    </div>
                <div class="comment d-flex flex-row gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#postModal">
                        <svg class="comment-button" width="24" height="21" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="comment-button-path" d="M14.7743 0C22.691 0.00951977 29.1061 6.42215 29.1157 14.3348C29.1157 14.3493 29.1157 14.3673 29.1157 14.3845C29.1157 17.8833 27.8456 21.0855 25.7411 23.5556L25.7577 23.5357L30.4449 28.6713H14.7743C6.85377 28.6713 0.432922 22.253 0.432922 14.3357C0.432922 6.41829 6.85377 0 14.7743 0ZM25.6877 26.5734L22.902 23.5161L23.589 22.8084C25.7092 20.6346 27.017 17.6604 27.017 14.3808C27.017 14.3649 27.017 14.349 27.0169 14.3332V14.3357C27.0169 7.5769 21.5357 2.09791 14.7743 2.09791C8.01284 2.09791 2.53166 7.57693 2.53166 14.3357C2.53166 21.0944 8.01287 26.5734 14.7743 26.5734H25.6877Z" fill="#535657" />
                        </svg>
                    <p class="color-grayish-blue d-none d-md-inline">@EngagementType.Comment.ToString()</p>
                    </div>
                    <div class="share d-flex flex-row gap-1 align-items-center">
                        <svg class="share-button" width="24" height="21" viewBox="0 0 26 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="share-button-path" d="M4.97647 30.3333C1.55031 24.2306 0.973822 14.9202 14.4317 15.2311V22.75L26 11.375L14.4317 -5.72205e-06L14.4317 7.35772C-1.68497 6.94443 -3.47999 21.3452 4.97647 30.3333Z" fill="#535657" />
                        </svg>
                        <p class="color-grayish-blue d-none d-md-inline">@EngagementType.Share.ToString()</p>
                    </div>
                </div>
            <div class="report d-flex flex-row gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#reportModal">
                    <svg class="report-button" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="report-button-path" d="M5.15002 2V22" stroke="#535657" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path class="report-button-path" d="M5.15002 4H16.35C19.05 4 19.65 5.5 17.75 7.4L16.55 8.6C15.75 9.4 15.75 10.7 16.55 11.4L17.75 12.6C19.65 14.5 18.95 16 16.35 16H5.15002" stroke="#535657" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                <p class="color-grayish-blue d-none d-md-inline">@EngagementType.Report.ToString()</p>
                </div>
            </div>
        </div>
    </div>


<partial name="_PostModal"/>
<partial name="_ReportModal"/>