@model IEnumerable<EducationDetails>
<div class="glass-box d-flex flex-column p-4 gap-2">
    <p class="fw-bold section-title">Education</p>
    <ul class="joined-custom-list">
        @foreach(var education in Model){
        <li>
            <div class="bullet">
                <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false">
                    <circle stroke="none" cx="16" cy="16" r="10"></circle>

                </svg>
            </div>
            <section class="d-flex flex-column gap-3 w-100">
                <div>
                    <h6 class="fw-bold"><span class="uni-name">@education.School.Name</span> | <span class="uni-location">@education.FieldOfStudy</span></h6>
                    <p class="uni-time fw-bold">
                        <span class="uni-start">@education.StartDate?.ToString("MMMM yyyy")</span> - <span class="uni-end">@education.EndDate?.ToString("MMMM yyyy")</span> &#8226;
                        <span class="fw-light">Html.DisplayNameFor(education.Degree)</span>
                    </p>
                </div>
                <p class="fw-light ps-1">@education.Description</p>
            </section>
        </li>
        }
    </ul>
</div>